:root {
    --blue-black: #0D1B2A;

    --bs-body-font-size: 1.4rem;
}
.bd {
    border: 1px solid black;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main {
    margin: 0;
    padding: 10px 0;
    width:100%;
    height: 100vh;
    background-color: white;
    
}

.introblock {
    display: flex;
    width: 100%;
    height: 35vh;
    margin: 0 auto;
    background-color: var(--blue-black);
}

.introblock * {
    color: white;
    text-align: center;
}

.introtext {
    text-align: center;
    margin: auto;
}

.introtext h1 {
    font-size: 5vw;
}

.introtext h2 {
    font-size: 3.5vw;
    border-bottom: 3px inset black;
    padding-bottom: 1.2vh;
}

/*Shop Elements*/

.shop-items .accordion-button {
    font-size: min(5vw, 40px);

}

.shop-items .row {
    justify-content: flex-start;
}

.shop-items .card-img-top {
    border-bottom: solid 1px var(--bs-border-color);
    height: 60vw;
    object-fit: cover;
}

.shop-items .card {
    height: fit-content;
}

.in-stock {
    color: var(--bs-success);
}

.no-stock {
    color: var(--bs-danger);
}

.shop-items .card-title {
    font-weight: 600;
    font-size: 1.6rem;
}


/*When Screen is bigger than 768px */
@media (min-width: 768px) {
    .row-cols-md-5 > * {
      width: 25%;
    }

    .shop-items .card {
        height: 100%;
    }
    .shop-items .card-img-top {
        height: 20vw;
        object-fit: cover;
    }
    
  }