:root {
    --blue-black: #0D1B2A;

    --bs-body-font-size: 1.4rem;
    --shop-icon-pixel-position: 15px;
    --shop-icon-border-size: 4px;
    --shop-icon-hovered-position: calc(var(--shop-icon-pixel-position) - var(--shop-icon-border-size));
    --professional-blue: rgb(4, 130, 255);
}
.bd {
    border: 1px solid black;
}
.hide-publicly 
{
    display: none;
}
.flex {
    display: flex;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main {
    margin: 0;
    padding: 20px 0;
    width:100%;
    height: fit-content;
    background: url(https://images.pexels.com/photos/8251006/pexels-photo-8251006.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center;
    background-size:cover;
}

footer {
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 100%;
}


.logotitle {
    width: fit-content;
    word-wrap: normal;
    white-space: normal;
}

.navbar-brand {
    font-size: larger;
    display:table-row;
}

.nav-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;
}

.small-hover-text {
    font-style: italic;
    color: transparent;
    transition: color 0.25s;
    font-size: 0.75em;
}

.nav-link:hover .small-hover-text {
    color: var(--bs-nav-link-color);
}

/*Welcome Section*/
.introblock {
    display: flex;
    width: 100%;
    height: 35vh;
    background: rgba(0, 0, 0, 0.445);
    justify-content: center;
    text-align: center;
}

.introblock * {
    color: white;
    padding: 0 5px;
}

/*To align vertical center*/
.introtext {
    margin: auto 0;
}

.introtext h1 {
    font-size: 1.6em;
}

.introtext h2 {
    font-size: 1.2em;
    border-bottom: 3px inset black;
    padding-bottom: 1.2vh;
}

.responsive-notice {
    text-align: center; 
    padding: 10px 0;
    background-color: var(--blue-black);
    color: white;
    margin: .75rem;
}

/*Shop Elements*/
.accordion-item 
{
    color: white;
}
.accordion-body 
{
    /*BG 1: moldy wood with leaves on the left side*/
    background: url(https://images.pexels.com/photos/139312/pexels-photo-139312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    /*BG 2: clean white-ish wood that contrasts with the text super well */
    background: url(https://images.pexels.com/photos/172284/pexels-photo-172284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
}

.shop-items .accordion-button {
    font-size: min(5vw, 40px);
    font-size: 1.1em;

}

.shop-items .accordion-button:hover{
    background-color: var(--professional-blue);
    color: white;
}

.shop-items .row {
    justify-content: flex-start;
    align-items: flex-start;
}

.shop-items .card-img-top {
    border-bottom: solid 1px var(--bs-border-color);
    height: 60vw;
    object-fit: cover;
}

.shop-items .card:hover{
    box-shadow: 4px 4px 6px rgb(181, 181, 181);
    border-color: rgb(45, 45, 45);
}

.shop-items .card {
    height: fit-content;
    width: 103%;
    container-type:inline-size;
    transition: border-color 0.25s, box-shadow 0.25s;
}
.img-and-hover-container 
{
    position: relative;
    height: 100%;
}

.item-hover-overlay 
{
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vw;
    opacity: 0%;
    color: transparent;
    background: transparent;
    overflow: hidden;
    transition: opacity 0.35s ease-in-out, color .1s, padding 0.35s;
}
.img-and-overlay-container:hover .item-hover-overlay
{
    overflow: scroll;
    padding: 15px;
    opacity: 100%;
    color: #FFF;
    background: rgba(0, 0, 0, .6);
}
.card .item-hover-overlay h2
{
    font-size: max(9cqw);
    text-align: center;
    font-weight: bold;
}
.card .item-hover-overlay p 
{
    font-size: clamp(0.5em, 8cqw, 21px);
}

.in-stock {
    color: var(--bs-success);
}

.no-stock {
    color: var(--bs-danger);
}

.shop-items .card-title {
    font-weight: 600;
    font-size: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-collapse
{
    margin-top: 10px;
}

.info-collapse .card-body 
{
    width:100%;
    padding: 10px;
    font-size: 0.9em;
    max-height: 300px;
}

.row-cols-2 > * 
{
    width: 49.25%;
}

#shop-icon {
    display: flex;
    z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 60px;
    max-width: 60px;
    max-height: 60px;
    height: 60px;
    background: radial-gradient(cyan, var(--professional-blue));
    aspect-ratio: 1/1;
    margin: 10px;
    border-radius: 100%;
    padding: 6px;
    outline: solid 4px transparent;
    transition: outline 0.25s ease-in-out;
}
#cart-img 
{
    width: 100%;
    height: 100%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4297/4297127.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    border: none;
}

/*Off Canvas stuff*/
.offcanvas.offcanvas-top, .offcanvas-body 
{
    height: fit-content;
    max-height: 45vh;
}

.offcanvas-body 
{
    background-color: rgb(241, 239, 239);
}

.offcanvas-body .card 
{
    border: none;
}

.added-item-card, .added-item-img{
    width: 100%;
    border-radius: .375rem;
}


.added-item-img {
    padding: inherit;
    margin: auto;
    max-width: 250px;
    display: block;
    object-fit: cover;
    border-radius: 0;
}

.added-item-img-container 
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.added-item-quantity {
    width: fit-content;
    min-width: 19px;
    max-width: 50px;
    text-align: center;
    font-size: 1em;
}

.added-item-quantity-change-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.quantity-flex-responsive {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    border: 3px solid var(--bs-border-color);
    gap: 5px;
}

.quantity-button {
    width: 50%;
    font-weight: bold;
    font-size: 1.3em;
    padding: 4px;
    padding-bottom: 10px;
    min-width: 40px;
}

.outlined-module {
    width: fit-content;
}


/*Shop icon stuff */

#shop-icon:hover
{
    outline: solid 4px rgb(230, 230, 230);
    
}
#shop-icon:hover #cart-img
{
    background-image: url(https://cdn-icons-png.flaticon.com/512/4297/4297127.png);
}


/*When Screen is bigger than 768px */
@media (min-width: 768px) {
    .row-cols-md-5 > *, .row-cols-2 > * {
        width: 25%;
    }

    .shop-items .card {
        height: 100%;
        width:100%;
    }
    .shop-items .card-img-top {
        height: 20vw;
        object-fit: cover;
    }
    .introtext h1 {
        font-size: 2.6em;
    }
    
    .introtext h2 {
        font-size: 1.7em;
    }

    /*Deprecated method below */
    .added-item-img {
        object-fit: cover;
        height: 235px;
        max-width: none;
        border-radius: .375rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .added-item-img-container 
    {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .added-item-quantity-change-container {
        display: flex;
        width: fit-content;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .added-item-quantity {
        padding: 0.5em;
        width: fit-content;
        min-width: 36px;
    }
    .item-hover-overlay 
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20vw;
        background: rgba(0, 0, 0, 0.5);
    }


  }