:root {
    --blue-black: #0D1B2A;

    --bs-body-font-size: 1.4rem;
}
.bd {
    border: 1px solid black;
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.main {
    margin: 0;
    padding: 10px 0;
    width:100%;
    height: fit-content;
    background-color: white;
    
}

footer {
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 100%;
}


.logotitle {
    width: fit-content;
    word-wrap: normal;
    white-space: normal;
}

.navbar-brand {
    font-size: larger;
    display:table-row;
}

/*Welcome Section*/
.introblock {
    display: flex;
    width: 100%;
    height: 35vh;
    background-color: var(--blue-black);
    justify-content: center;
    text-align: center;
}

.introblock * {
    color: white;
    padding: 0 5px;
}

/*To align vertical center*/
.introtext {
    margin: auto 0;
}

.introtext h1 {
    font-size: 1.6em;
}

.introtext h2 {
    font-size: 1.2em;
    border-bottom: 3px inset black;
    padding-bottom: 1.2vh;
}

/*Shop Elements*/

.shop-items .accordion-button {
    font-size: min(5vw, 40px);
    font-size: 1.1em;

}

.shop-items .row {
    justify-content: flex-start;
    align-items: flex-start;
}

.shop-items .card-img-top {
    border-bottom: solid 1px var(--bs-border-color);
    height: 60vw;
    object-fit: cover;
}

.shop-items .card:hover{
    box-shadow: 4px 4px 6px rgb(181, 181, 181);
    border-color: rgb(45, 45, 45);
}

.shop-items .card {
    height: fit-content;
    width: 110%;
}



.in-stock {
    color: var(--bs-success);
}

.no-stock {
    color: var(--bs-danger);
}

.shop-items .card-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.shop-items .accordion-header:hover {
    background-color: #3e8e41;
    color: white;
}

.info-collapse
{
    margin-top: 10px;
}

.info-collapse .card-body 
{
    width:100%;
    padding: 10px;
    font-size: 0.9em;
    max-height: 300px;
}

#shop-icon {
    display: flex;
    z-index: 999;
    position: fixed;
    bottom: 15px;
    left:15px;
    border-radius: 100%;
}

#shop-icon button 
{
    aspect-ratio: 1/1;
    border-radius: 100%;
    align-items: center;
}
#shop-icon img 
{
    max-width: 35px;
}


/*When Screen is bigger than 768px */
@media (min-width: 768px) {
    .row-cols-md-5 > * {
      width: 25%;
    }

    .shop-items .card {
        height: 100%;
        width:100%;
    }
    .shop-items .card-img-top {
        height: 20vw;
        object-fit: cover;
    }
    .introtext h1 {
        font-size: 2.6em;
    }
    
    .introtext h2 {
        font-size: 1.7em;
    }
    
  }